<header class='header'>
  <div class='container'>
    <div class='header__content'>
      <a class='header__title' routerLink='/'>Angular Market</a>
      <span>
    <a class='header__nav-item' routerLink='cart'><i class='pi pi-shopping-cart' style='font-size: 1rem'></i>Cart</a>
    <a class='header__nav-item' routerLink='contacts'><i class='pi pi-map-marker'
                                                         style='font-size: 1rem'></i>Contacts</a>
    <a class='header__nav-item' routerLink='history'>
      <i class='pi pi-user' style='font-size: 1rem'></i>
      History</a>
      </span>
    </div>
  </div>
</header>
